@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary: #2e7d32;
  --primary-light: #66bb6a;
  --primary-dark: #1b5e20;
  --light-green: #e8f5e9;
  --dark: #0f0f0f;
  --dark-green: #102a19;
  --background: #f7f5ef;
  --white: #ffffff;
  --text-primary: #1a1a1a;
  --text-secondary: #666666;
  --border: #e0e0e0;
  --trans: 0.3s;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.products-empty {
  grid-column: 1/-1;
  padding: 80px 20px;
  text-align: center;
  flex: 1;
}

.products-empty i {
  margin-bottom: 20px;
  color: #aaa;
  font-size: 50px;
}

.products-empty h3 {
  margin-bottom: 10px;
  color: var(--dark);
}

.products-empty p {
  color: #777;
}

.loading {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 300px;

  color: #777;
  flex: 1;
}

.loading i {
  margin-bottom: 15px;
  color: var(--primary);
  font-size: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
